#session_popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.8);
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}

#session_popup_content {cursor: default; padding: 0 20px; max-width: 90%; max-height:95%; overflow-y:auto; }
#session_popup_content > a {cursor: pointer !important; text-decoration: none; color: inherit;}

#session_popup_inner img {height: auto; max-width: 100%;}

#session_popup_close {text-align: right;}
#session_popup_close span {cursor: pointer; color: #fff; font-size: 20px;}

.tx_sessionpopup .typo3-messages {position: relative; z-index: 20000;}